body{
  background-color: rgb(24, 29, 75);
  color: rgba(255, 255, 255, 0.8);
}


ul li{
  list-style-type: none;
  color: #fcfc;
}
ul li a{
  color: rgba(246, 240, 246, 0.8);
  text-decoration: none;
}


